.App{
 background-color: lightblue;
  .container{
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    header{
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      height: 100px;
    }
    main{
      margin: 10px 0;
      border: 1px solid gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 400px;
      button{
        height: 40px;
        width: 200px;
      }
    }
    footer{
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      height: 100px;
    }
  }
}